/* @font-face{
  font-family: 'Myfont';
  src: url('./毛笔书法字体\(启功体\)繁启体.ttf');
  font-weight: 600;
  font-style: normal
} */


.hello {
  color:blueviolet;
  background: url(./icon_yifabu.png);
  /* font-family: 'Myfont' */
}